.place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0;
    font-weight: 900;
    padding-left: 20px;
}
@media screen and (min-width:768px)  {
    .place__title{
        max-width: 340px;
        font-size: 42px;
        grid-area: title;
        padding-top: 54px;
        padding-left: 0px;
        line-height: 110%;
    }
}
@media screen and (min-width:1024px) {
    .place__title{
        max-width: 440px;
        font-size: 72px;
        line-height: 106%;
        padding-top: 0px;
        align-self: end;
    }
}
@media screen and (min-width:1280px) {
    .place__title{
        max-width: 460px;
    }
}