.lead__image {
    max-width: 320px;
    max-height: 200px;
    padding-top: 40px;
    display: block;
}
@media screen  and (min-width:768px) {
    .lead__image {
        max-width: 768px;
        max-height: 480px;
        padding-top: 55px;
}
}
@media screen and (min-width:1024px) {
    .lead__image{
        max-width: 928px;
        max-height: 580px;
}
}
@media screen and (min-width:1280px) {
    .lead__image {
        max-width: 984px;
        max-height: 615px;
    }
}
@media screen and (min-width:1280px) {
    .lead__image {
        padding-top: 65px;
    }
}
