.intro {
    min-width: 288px;
    min-height: 754px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 70px;
    padding-left: 20px;
}
@media screen and (min-width: 425px) and (min-width: 768px){
    .intro{
        padding-top: 90px;
        padding-left: 30px;
    }
}
@media screen and (min-width: 1024px){
    .intro{
        padding-top: 100px;
        padding-left: 50px;
    }
}
@media screen and (min-width: 1280px){
    .intro{
        padding-top: 95px;
        padding-left: 150px;
    }
}