.cover__subtitle {
    max-width: 258px;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    margin: auto;
    padding-top: 16px;
   
}
@media screen and (min-width:768px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 122%;
        padding-top: 30px;
        
    }
}
@media screen and  (min-width:1280px) {
    .cover__subtitle {
        padding-top: 35px;
    }
}