.place__link {
    font-size: 18px;
    line-height: 0.5;
    color: #FFFFFF;
    padding-top: 15px;
}/*
@media screen and (min-width:1000px) and (max-width:1280px) {
    .place__link {
        padding-top: 0px;
    }
}