.footer__links {
    list-style-type: none;
    padding-top: 44px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media screen and (min-width:768px) {
    .footer__links {
        flex-direction: row;
        margin: 0;
        gap: 20px;
        padding-top: 65px;
    }
}
@media screen and (min-width:1024px) {
    .footer__links {
        padding-top: 55px;
        padding-left: 50px;
    }
}
@media screen and (min-width:1280px) {
    .footer__links {
        padding-top: 60px;
    }
}