.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 100%;
    padding-top: 33px;
    padding-left: 20px;
    
}
@media screen and (min-width:768px) {
    .footer__copyright {
        padding-right: 25px;
        text-align: right;
        line-height: 114%;
}
}
@media screen and (min-width:1024px) {
    .footer__copyright {
        padding-right: 45px;
    }
}