.cover {
    margin: auto;
    padding-top: 75px;
}
@media screen and (min-width:768px) and (max-width:920px) {
    .cover {
        padding-top: 90px;
    }
    
}
@media screen and (min-width:930px) and (max-width:1024px) {
    .cover {
        padding-top: 85px;
    }
}
@media screen and (min-width:1040px) and (max-width:1280px) {
    .cover {
        padding-top: 220px;
    }
}
@media screen and (max-width:1280px) {
    .cover {
        padding-top: 100px;
    }
}