.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 65px;
    padding-left: 20px;

}
@media screen and (min-width: 728px) {
    .intro{
        padding-top: 90px;
        padding-left: 25px;
    }
}
@media screen and (min-width: 1024px) {
    .intro{
        padding-top: 95px;
        padding-left: 50px;
    }
}
@media screen and (min-width: 1280px) {
    .intro{
        padding-left: 150px;
    }
}