.cover__overlay {
    width: 320px;
    height: 200px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(42, 44, 47, .3);
    position:absolute;/*по чек-листу можно,надеюсь верно поняла*/
    
}
.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .6);
}
@media screen and (min-width:768px) {
    .cover__overlay {
        width: 768px;
        height: 480px;
    }
}
@media screen and (min-width: 999px) and (max-width: 1022px) {
    .cover__overlay {
        width: 800px;
        height: 600px;
    }
    
}
@media screen and (min-width: 1020px) and (max-width: 1024px) {
    .cover__overlay {
        width: 1024px;
        height: 640px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .cover__overlay {
        width: 1024px;
        height: 640px;
    }
}
@media screen and (min-width: 1200px){
    .cover__overlay {
        width: 1184px;
        height: 740px;
    }
}

