.lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    margin: auto;
    max-width: 288px;
    padding-top: 15px;
}
@media screen and (min-width:768px){
    .lead__subtitle {
        font-size: 30px;
        min-width: 640px;
        margin: auto;
        line-height: 120%;
        padding-top: 25px;
    }
    }
@media screen and (min-width:1024px){
    .lead__subtitle {
        padding-top: 33px;
    }
    }
@media screen and (min-width:1280px) {
    .lead__subtitle {
        padding-top: 35px;
    }
    }
