.lead__subtitle {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: auto;
    max-width: 288px;
    padding-top: 15px;
}
@media screen and (min-width:425px) and (min-width:768px) {
    .lead__subtitle {
        font-size: 30px;
        min-width: 640px;
        margin: auto;
        line-height: 1.1;
        padding-top: 38px;
    }
    }
