.places {
    padding-top: 25px;
}
@media screen and (min-width:768px) {
    .places{
        max-width: 720px;
        margin: auto;
        
    }
}
@media screen and (min-width:930px){
    .places{
        max-width: 928px;
        padding-top: 80px;
        margin: auto;
    }
}
