@media screen and (min-width:320px) {
    
.place:first-of-type{
  padding-top: 35px;
}
.place:nth-child(2){
    padding-top: 90px;
}
.place:nth-child(3){
    padding-top: 65px;
}
.place:nth-child(4){
    padding-top: 120px;
}
.place:nth-child(5){
    padding-top: 120px;
}
}

@media screen and (min-width:768px) {
    .place{
        display: grid;
        max-width: 720px;
        max-height: 581px;
        grid-template-columns: repeat(2,360px);
        grid-template-rows:  minmax(46px, max-content) minmax(337px, max-content);
        grid-template-areas: "title website"
                            "image paragraph";
        text-align: inherit;
    }
    .place:first-of-type {
      padding-top: 67px;
    }
    .place:nth-child(2){
      padding-top: 70px;
    }
    .place:nth-child(3){
      padding-top: 40px;
    }
    .place:nth-child(4){
      padding-top: 65px;
    }
    .place:nth-child(5){
      padding-top: 55px;
    }
}
@media screen and (min-width:930px) and (max-width:1280px) {
    .place{
        max-width: 1024px;
        max-height: 640px;
        grid-template-columns: repeat(2,464px);
        grid-template-rows:  minmax(76px, max-content) minmax(440px, max-content);
        align-items: flex-end;
    }
    .place:first-of-type {
        padding-top: 30px;
    }
    .place:nth-child(2){
        padding-top: 80px;
    }
    .place:nth-child(3){
      padding-top: 40px;
    }
    .place:nth-child(4){
      padding-top: 45px;
    }
    .place:nth-child(5){
      padding-top: 80px;
    }
}
@media screen and (min-width:1280px) {
    .place{
      max-width: 1024px;
      max-height: 640px;
      padding-top: 100px;
      grid-template-columns: repeat(2,464px);
      grid-template-rows:  minmax(76px, max-content) minmax(440px, max-content);
  }
    .place:first-of-type {
        padding-top: 56px;
    }
    .place:nth-child(2){
      padding-top: 100px;
    }
    .place:nth-child(3){
      padding-top: 75px;
    }
    .place:nth-child(4){
      padding-top: 40px;
    }
  
    .place:nth-child(5){
    padding-top: 78px;
  }
}
