.cover__background {
    background-image: url(../../../picture/cover-trains.jpg);
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
}
@media screen and (min-width:768px) {
    .cover__background {
        min-height: 480px;
    }
}
@media screen and (min-width:1024px) {
    .cover__background {
        min-height: 640px;
    }
}
@media screen and (min-width:1280px){
    .cover__background {
        width: 1184px;
        min-height: 740px;
    }
}