.footer {
    min-width: 186px;
    text-align: left;
    margin-bottom: 24px;
}
@media screen and (min-width:768px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 17px;
    }
    
}
@media screen and (min-width:1024px) {
    .footer{
        padding-top: 30px;
    }
    
}
